extends base

block content
  main.main
    .card-container
    
      each scripture in scriptures
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/scriptures/${scripture.fileSRC}`, alt=`${scripture.title}`)
            h3.heading-tertirary
              span= scripture.title

          .card__details
            h4.card__sub-heading= `${scripture.summary}`
            //- p.card__text= 
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              -const date = scripture.createdAt.toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})
              span= date


          .card__footer
            p
              span.card__footer-value= `${scripture.comments.length}`
              | 
              span.card__footer-text Comments
            p.card__ratings
              span.card__footer-value= scripture.reactionsTotal
              | 
              span.card__footer-text= `Likes`
            a.btn.btn--green.btn--small(href=`/scripture/${scripture._id}`) View more